body {
    background-color: rgb(53 54 58) ;
}

.data-box-main {
width: 500px;
height: 600px;
border-style: solid;
border-width: thin;
border-color: white;
border-radius: 2px;
margin: 0 auto;
background-color: black;
opacity: 0.3;

    
}